@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-coffee-500 rounded-full;
}